.products-slider {
  display: flex;
  justify-content: center;

  &__button a {
    font-size: 1.4rem;
    background-color: $color-white;
    color: $color-secondary;
    padding: 1rem 1rem;
    display: inline-block;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s;

    @media (max-width:450px) {
      font-size: 1.1rem;
    }

    &:hover {
      background-color: $color-secondary;
      color: $color-white;
      text-decoration: none;
    }
  }

  &__placeholder {
    img {
      width: 100%;
      margin-top: 2rem;
    }
  }

  &__buttonLeft {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: 1px solid $color-white;
    border: 1px solid $color-secondary;
  }

  &__buttonMid {
    border: 1px solid $color-secondary;
  }

  &__buttonRight {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 1px solid $color-secondary;
  }
}
