// COLORS
$color-primary: #0086ca;
$color-secondary: #c1007e;
$color-tertiary: #ffef00;

$color-grey-light: #dadada;
$color-grey-medium: #ccc;
$color-grey-dark: #777;

$color-blue-dark: #00255c;

$color-white: #fff;
$color-black: #0c0c0c;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
